@import "reset.css";

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-aspect-ratio: 0.8) {
    :root {
        font-size: max(6px, 2vw);
    }

    .page-container {
        flex-direction: row;
    }
}

.profile-picture {
    width: var(--picture-size);
    height: var(--picture-size);
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    padding: var(--spacing-size);
}

section {
    max-width: var(--section-width);
    margin: var(--spacing-size);
    padding: var(--spacing-size);
    background: #eee;
    border-radius: var(--spacing-size);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me-section {
    text-align: center;
}